*{
    margin: 0;
    padding: 0;
  }

  body{
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  body::-webkit-scrollbar {
    width: 0; /* Скрыть полосу прокрутки для WebKit-браузеров */
}

body::-ms-scrollbar {
    width: 0; /* Скрыть полосу прокрутки для Edge и IE */
}
  
  header{
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding: 0px;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .logotip{
    height: 50px;
    width: auto;
  }

  button{
    height: 40px;
    width: 110px;
    margin: 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 136, 136);
    border-radius: 5%;
    border: 0px;
    font-size: 80%;
  }

  button:focus {
    background-color: rgb(234, 49, 49);
  }
  
  main{
    flex-grow: 1;
    padding-top: 50px; 
    padding-bottom: 50px;
  }

  .one{
    position: relative;
    min-height: 100vh;
    height: auto; 
}

.one::before {
    content: "";
    background-image: url("./wallpaper/1.jpg");
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; 
    z-index: 0;
}

h1{
  color: rgb(126, 21, 21);
}

.text{
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 19px;
  color: rgb(80, 10, 10);
}

.pic{
  height: 250px;
}

.container {
  max-width: 1200px; /* Ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  padding: 20px; /* Отступы */
}

.row {
  display: flex;
  align-items: flex-start; /* Выравнивание по верхнему краю */
  margin-bottom: 20px; /* Отступ между рядами */
}

.pic {
  max-width: 300px; /* Максимальная ширина для изображений */
  margin-right: 20px; /* Отступ справа от изображения */
}

.text-column {
  flex: 1; /* Разрешает текстовому блоку занимать оставшееся пространство */
}


.two{
    position: relative; 
    overflow: auto; 
    min-height: 100vh;
    height: auto;
}

.two::before {
    content: "";
    background-image: url("./wallpaper/2.jpg");
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; 
    z-index: 0;
}

#vyvod {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  flex-grow: 1;
  max-width: 590px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.item.expanded {
  height: auto; /* Увеличение высоты карточки */
}

.description {
  display: none;
  padding: 10px;
  background-color: rgba(126, 21, 21, 0.19);
  margin-top: 10p
}

.hidden {
  display: none;
}

.expanded .description,
.expanded img {
  display: block;
}

.image-class {
  width: 100%;
  max-width: 390px;
  margin: 10px auto;
  border-radius: 8px;
}

.field{
  margin-left: 40px;
  margin-bottom: 20px;
}

.cont_card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  display: inline-block;
  margin: 10px;
  background-color: rgba(126, 21, 21, 0.19);
  width: 600px;
}

.three{
    position: relative; 
    overflow: hidden; 
    min-height: 100vh;
    height: auto;
}

.three::before {
    content: "";
    background-image: url("./wallpaper/3.jpg");
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; 
    z-index: 0;
}

:root{
  --el: 0;
}

.def{
  justify-content: center;
  opacity: 0;
  display: none;
  transition: 1s;
  transform: translateX(var(--el));
}

.img_slider{
  width: 500px;
  height: 420px;
}

.show{
  display: flex;
}

.close{
  opacity: 1;
}

.container-buttons {
  text-align: center; /* Центрирование кнопок горизонтально */
  margin-top: 20px;   /* Отступ сверху для отделения от слайдера */
}

.butn {
  width: 70px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer; /* Указатель мыши в виде руки при наведении */
}

.butn1 {
  margin-right: 20px; /* Отступ между кнопками */
  width: 70px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer; /* Указатель мыши в виде руки при наведении */
}

.slide-number {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  display: block;
}

.four{
    position: relative; 
    min-height: 100vh;
    height: auto;
}

.four::before {
    content: "";
    background-image: url("./wallpaper/4.jpg");
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; 
    z-index: 0;
}

.bod {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inpuut{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    color: rgb(80, 10, 10);
    border: 2px solid rgb(80, 10, 10);
  }

input[type="text"]{
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: rgb(80, 10, 10);
  background-color: rgb(253, 181, 181);
}

input[type="radio"] {
  transform: scale(1.6);
  accent-color: rgb(80, 10, 10);
}

.submit {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.sub{
  font-size: 20px;
  height: 40px;
  width: 170px;
  border-radius: 4px;
  color: rgb(80, 10, 10);
  background-color: rgb(253, 181, 181);
}

.output3{
  font-size: 19px;
}

.out33{
  display: flex;
  justify-content: center;
  align-items: center;
}

.output33{
  font-size: 20px;
  color: rgb(80, 10, 10);
  margin-bottom: 25px;
}

.output_er{
  margin-top: 10px;
  color: rgb(255, 0, 0);
}


.five{
    position: relative; 
    overflow: hidden; 
    min-height: 100vh;
    height: auto;
}

.five::before {
    content: "";
    background-image: url("./wallpaper/5.jpg");
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; 
    z-index: 0;
}

.output{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin: 30px auto;
  border: 2px solid rgb(98, 3, 3);
  max-width: 380px;
  width: 100%; 
  padding: 40px 0;
}

.outputt{
  font-size: 19px;
}

.link{
  color: rgb(234, 49, 49);
  text-decoration: none;
  font-size: 19px;
}

.link:hover{
  color: rgb(91, 16, 16);
}

.content{
    position: relative;
    z-index: 1;
}

  .title{
    margin-top: 20px;
    text-align: center;
  }
  
  .no{
    display: none;
  }

  footer {
    justify-content: center;
    display: flex;
    height: 50px;
    background-color: rgb(234, 49, 49);
    position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0;
    z-index: 1000;
}

.foot{
    margin: 7px;
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(0, 0, 0);
}

.network{
  height: 30px;
  width: auto;
}
  